<h2>Add questions to "<%= @survey.title %>"</h2>

  <% if !@errors.empty? %>
  <ul class="errors">
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<%= erb :"questions/_new_question_form", layout: false %>

<a href="/">Done</a>
