
<% if @errors %>
  <% @errors.each do |error| %>
    <p class="errors"><%= error %></p>
  <% end %>
<% end %>

<h1> Login </h1>
<form method="post" action="/login">
  <div>
    <input type="text" name="user[username]" placeholder="Username" />
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="Password" />
  </div>
  <div>
    <input type="submit" value="login" />
  </div>
</form>




<h1> Sign up </h1>
<form method="post" action="/users">
  <div>
    <input type="username" name="user[username]" placeholder="Username" />
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="Password" />
  </div>
  <div>
    <input type="submit" value="signup" />
  </div>
</form>
