<h1> Login </h1>
<form method="post" action="/login">
  <div>
    <input type="text" name="user[username]" placeholder="Username" />
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="Password" />
  </div>
  <div>
    <input type="submit" value="login" />
  </div>
</form>
