
<div class="jumbotron">
  <div class="congrats">
    <h2>Congratulations!<h2>
    <h2>You completed <%=@survey.title%>!</h2>
    <a id="end_quiz_return" href="/">Return to the main index</a>
  </div>
</div>