<div>
  <h2>Surveys</h2>
    <div id='survey-list'>
      <% @surveys.each do |survey| %>
      <% author = User.find(survey.author_id) %>
        <div class="survey-listing"><a href="/surveys/<%= survey.id %>"><%= survey.title %></a><p> | by <%= author.username %> on <%= survey.created_at.strftime("%b %d, %Y")%></p></div>
      <% end %>
    </div>

    <% if logged_in? %>
      <h3><a id="create-new-survey" href="/surveys/new">Create a new survey here</a></h3>
    <% else %>
      <h3>Log in to create a survey.</a></h3>
    <% end %>
</div>
