<h2>Create a New Survey</h2>

<div>
  <form action="/surveys" method="post">
    <div>
      <label for="title">Title:</label>
      <input id="title" name="survey[title]"></input>
    </div>
    <div>
      <label for="description">Description:</label>
      <input id="description" name="survey[description]"></input>
    </div>
    <input type="submit" value="Create Questions"></input>
  </form>
</div>
