<div>
  <div class=take-survey-intro>
    <h2><%=@survey.title%></h2>
    <h3><%=@survey.description%></h3>
  </div>
  <p><a class="start_survey_link" href="/surveys/<%=@survey.id%>/questions/<%=@survey.questions.first.id%>">Start the survey!</a></p>
</div>


