<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <a href="/">Survey Ghost</a>
  <% if logged_in? %>
    <div class="layout">
      <p><a href="/users/<%=current_user.id%>"><%= current_user.username %></a> |
      <a href="/logout">Log Out</a></p>
    </div>
  <% else %>
    <div class="layout">
      <p><a href="/login">Log In or Create Account</a></p>
    </div>
  <% end %>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
