<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
  <div class="header clearfix">
  <h1 class="text-muted"><a class="navbar-brand" href="/">Survey Ghost</a></h1>
  <% if logged_in? %>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/users/<%=current_user.id%>"><%= current_user.username %></a></li>
      <li role="presentation"><a href="/logout">Log Out</a></li>
    </ul>
  <% else %>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/login">Log In or Create Account</a></li>
    </ul>
  <% end %>
  <%= yield %>
</div>
</div>
</body>
</html>
